$page-background-color: #dddddd;
$shadow-color: #cccccc;
/*$page-background-color: white;*/
$project-img-size: 200px;
$yellow-green: #b9ff1b;
$yellow-green-header: #ddff91;
$light-yellow-green: #ecffc2;
$text-color: #333333;
$light-text-color: #ffffff;
/* $heading-color: #8a8a8a; */
$heading-color: #505050;
$highlighted-text-color: #cccccc;
$background-highlight: #999999;
$link-color: #355836;
