.blog {

    .blog-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-header {
        position: relative;
        top: 25px;
        h1 {
            color: $text-color;
            font-size: 2rem;
            margin-top: 1rem;
        }
    }

    // TODO: Combine with .project-page, since they're basically the same...
    .blog-page {

        a {
            border-bottom: none;
            transition: border-bottom 0.4s ease-in-out;

            &:hover {
                border-bottom: 1px solid $link-color;
            }
        }

        .dir-tree {
            font-size: 0.8rem;
        }

        h1, h2, h3, h4 {
            margin-top: 1rem;
        }

        code {
            background-color: #002b36;
            color: #eeffbc;
            border: none;
        }
    }
    .blog-post-list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .blog-list-item {
            // height: 200px;
            padding: 1rem;
            margin: 1rem;
            background-color: $shadow-color;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);

            // Override global link hover behavior
            &:hover {
                &:after {
                    width: 0;
                }
            }
        }
    }

}
