.blog {

    .blog-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-header {
        position: relative;
        top: 25px;
        h1 {
            color: $text-color;
            font-size: 2rem;
            margin-top: 1rem;
        }
    }


    // TODO: Combine with .project-page, since they're basically the same...
    .blog-page {

        pre {
            background-color: black;
            padding: 0 1rem;
            code {
                background-color: transparent;
                color: #eeffbc;
                border: none;
            }
        }


    }
    .blog-post-list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .blog-list-item {
            // height: 200px;
            padding: 1rem;
            margin: 1rem;
            background-color: $shadow-color;
            cursor: pointer;
            display: flex;
            flex-direction: row;

            // Override global link hover behavior
            &:hover {
                &:after {
                    width: 0;
                }
            }
        }
    }

}
