.bg-cvs {
    height: 100vh;
    width: 100vw;
    /*position: fixed;*/
    top:0;
    left: 300px;
    margin: 0;
    padding: 0;
    position: fixed;
    /*overflow: hidden;*/
    // overflow-y: hidden;

    canvas {
        position: absolute;
    }

    .buttons {
        .selected {
            box-shadow: 0 0 10px 4px $link-color;
        }
        display: flex;
        height: 50px;
        img {
            width: 30px;
            height: 30px;
            margin: 10px;
        }
    }
}
