.home-text {
    width: 100vw;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    padding-top: 70vh;
    // justify-content: ;
    // align-items: center;
    // text-align: center;
    opacity: 0;
    position: fixed;
    top: 0;
    pointer-events: none;
    width: 300px;

    transition: all 1s;

    h1 {
        font-size: 1rem;
    }
    span {
        font-size: 1rem;
        color: $link-color;
    }
    p {
        color: $text-color;
        padding: 0 5rem 0 0;
        /* width: 50vw; */
        max-width: 600px;
        margin: 0;
        font-size: 1.1rem;
    }

    .click-me {
        position: fixed;
        font-size: 8pt;
        top: 60%;
        left: 54%;
        padding: 0;
        margin: 0;
        width: 100px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    p:last-child {
        margin-top: 20px;
        font-size: 1rem;
    }
}
