.project {
    cursor: pointer;
    /*width: 200px;*/
    // border-radius: 3%;
    // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: $shadow-color;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
    /* margin-left: 12px; */
    /* margin-right: 12px; */
    /* margin-top */
    margin-bottom: 20px;
    padding: 5px;
    // max-width: 200px;
    // min-width: 150px;
    width: 80%;

    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    .prj-text {
        display: flex;
        flex-direction: column;
    }
    .project-item-title{
        font-size: 1.1rem;
    }
    .project-item-subheader {
        font-size: 0.8rem;
        padding-bottom: 0.3rem;
    }
    p, h3 {
        color: $text-color;
        text-align: left;
        margin-top: 0.5rem;
        margin-bottom: 0;
        width: 100%;
        word-wrap: break-word;
        transition: color 0.5s;
    }
    p {
        margin-top: 0.2rem;
        font-size: 0.8rem;
    }

    .img-bg {
        width: 100%;
        height: 100%;
        // border-radius: 3%;
        background-color: black;
    }
    img {
        /*width: $project-img-size;*/
        /*height: $project-img-size;*/
        pointer-events: auto;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // border-radius: 5%;
        /*opacity: 0.5;*/
    }
    .prj-img-bg {
        /* position: fixed; */
        flex: 0 0 30%;
    }
}

.blurred {
    filter: blur(10px);
}

.selected-project {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    /* height: 100vh; */

    .prj-img-bg {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        /* top: -50%; */
        /* left: -50%; */
        /* width: 200%; */
        /* height: 200%; */
        background-color: black;
    }

    .prj-img {
        position: fixed;
        top: 0;
        left: 0;
        /* right: 0; */
        /* bottom: 0; */
        /* margin: auto; */
        min-width: 100%;
        min-height: 100%;
    }

    transition: background-color 0.5s;

    img {
        // border-radius: 0;
    }

    .selected-project-text {
        /*pointer-events: auto;*/
        background: transparent;
        color: blue;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div:first-child {
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.5;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
        }

        a {
            pointer-events: auto;
            color: $yellow-green;
        }

        p {
            /*padding: 0 4rem 0 4rem;*/
            color: $text-color;
        }
        /* > div { */
        /*     display: flex; */
        /*     width: 100vw; */
        /*     height: 100vh; */
        /*     justify-content: center; */
        /*     align-items: center; */
        /*     flex-direction: column; */
        /* } */

        :first-child {
            /* padding-top: 1.5rem; */
        }
    }

    img {
        opacity: 1;
    }

    div {

    }
}

.project:hover {
    /* background-color: $background-highlight; */
    p, h3 {
        color: $link-color;
    }
}
.project:hover:after {
    content: '';
    width: 0px;
}

.width-greater {
    height: 100vw;
}

.height-greater {
    height: 100vh;
}

@media (max-width: 400px) {
    .selected-project-text {
         p {
             font-size: 0.8rem;
             padding: 0 1rem 0 1rem;
         }

         :first-child {
             padding-top: 1.5rem;
         }
    }
}

@media (min-width: 401px) {
    .selected-project-text {
        p {
            padding: 0 4rem 0 4rem;
        }
    }
}
